<table class="table table-hover">
    <thead>
        <tr>
            {% if role == 'admin' %}
                <th scope="col">#</th>
                <th scope="col">ID đơn đặt hàng</th>
                <th scope="col">ID khách hàng</th>
                <th scope="col">Thiết kế</th>
                <th scope="col">Ngoại thất</th>
                <th scope="col">Nội thất</th>
                <th scope="col">Thời gian đặt hàng</th>
                <th scope="col">Xóa đơn hàng</th>
            {% else %}
                <th scope="col">#</th>
                <th scope="col">ID đơn đặt hàng</th>
                <th scope="col">Thiết kế</th>
                <th scope="col">Ngoại thất</th>
                <th scope="col">Nội thất</th>
                <th scope="col">Thời gian đặt hàng</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if role == 'admin' %}
            {% for i in range(data|length) %}
                <tr>
                    <form action="/order" method="post" id="orderID:{{data[i]['orderID']}}">
                        <input class="form-control form-control-sm" type="hidden" name="orderID" value="{{data[i]['orderID']}}">
                    </form>
                    <th scope="row">{{i}}</th>
                    <td>{{data[i]['orderID']}}</td>
                    <td>{{data[i]['userId']}}</td>
                    <td>{{data[i]['design']}}</td>
                    <td>{{data[i]['exterior']}}</td>
                    <td>{{data[i]['interior']}}</td>
                    <td>{{data[i]['orderTime']}}</td>
                    <td><button class="btn" type="submit" form="orderID:{{data[i]['orderID']}}"><i class="fa-solid fa-trash"></i></button></td>
                </tr>
            {% endfor %}
        {% else %}
            {% for i in range(data|length) %}
                <tr>
                    <th scope="row">{{i}}</th>
                    <td>{{data[i]['orderID']}}</td>
                    <td>{{data[i]['design']}}</td>
                    <td>{{data[i]['exterior']}}</td>
                    <td>{{data[i]['interior']}}</td>
                    <td>{{data[i]['orderTime']}}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>