<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="https://images.unsplash.com/photo-1559128010-7c1ad6e1b6a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80"
                                        style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">TriThai Hotel Booking</h4>
                                </div>

                                <form method="post" action="/signin" id="signin">
                                    <p>Đăng nhập tài khoản của bạn</p>

                                    <div class="form-outline mb-4">
                                        <input type="text" id="username" name="username" class="form-control"
                                            placeholder="Nhập tài khoản tại đây" />
                                        <label class="form-label" for="username">Tài khoản</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="password" name="password" class="form-control" />
                                        <label class="form-label" for="password">Mật khẩu</label>
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <input class="btn btn-primary btn-block fa-lg mb-3" type="submit" form="signin" value="Đăng nhập"></button>
                                        <a class="text-muted" href="#!">Forgot password?</a>
                                    </div>

                                    {% if check == False %}
                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <h4 class="mb-4" style="color:red;">Tài khoản hoặc mật khẩu không đúng</h4>
                                            <h6 class="mb-4">Vui lòng kiểm tra lại hoặc</h>
                                        </div>
                                    {% endif %}

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Don't have an account?</p>
                                        <button type="button" class="btn btn-outline-danger">Create new</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">We are more than just a company</h4>
                                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>