{% set role = request.blueprint[:-3] %}
<!-- {% print role %} # customer -->
{% if role in ["customer","manager"] %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand mt-2 mt-lg-0" href="/{{role}}">
                    <img src="https://cdn-icons-png.flaticon.com/512/1475/1475996.png" height="50"
                        alt="MDB Logo" loading="lazy" />
                </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/{{role}}">Trang chủ</a>
                    </li>
                    <li class="nav-item" onclick="">
                        <a class="nav-link" href="/{{role}}/hotel">Khách sạn</a>
                    </li>
                    {% if role in ["customer"] %}
                    <li class="nav-item">
                        <a class="nav-link" href="/{{role}}/mybooking">Đơn của bạn</a>
                    </li>
                    {% endif %}
                    {% if role in ["manager"] %}
                    <li class="nav-item">
                        <a class="nav-link" href="/{{role}}/mybooking">Đơn doanh nghiệp</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <div class="dropdown">
                    <a class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" href="#">
                        <img src="https://cdn-icons-png.flaticon.com/512/4333/4333609.png" class="rounded-circle"
                            height="25" alt="Black and White Portrait of a Man" loading="lazy" />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/{{role}}/profile">Thông tin cá nhân</a>
                        <!-- <a class="dropdown-item" href="/{{role}}/setting">Cài đặt</a> -->
                        <a class="dropdown-item" href="/logout">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

{% endif %}