<!--Main layout-->
<main class="mt-5">
    <div class="container">
        <!--Section: Content-->
        <section>
            <div class="row">
                <div class="col-md-6 gx-5 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="http://drive.google.com/uc?export=view&id=12ErGeQbcynlEMSYmZLsuD2larYZb7-_X" />
                        <a href="#">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 gx-5 mb-4">
                    <h4><strong>GolHol online đơn giản hơn bao giờ hết</strong></h4>
                    <p class="text-muted">
                        Chỉ có tại GolHol, GolHol. Đồng hành cùng bạn trên mọi hành trình khám phá
                    </p>
                    <p><strong>Bạn lo ngại về giá cả?</strong></p>
                    <p class="text-muted">
                        Tự do tham khảo và lựa chọn cho mình một chỗ dừng chân hợp lý nhé! GolHol - nâng niu hành trình Việt
                    </p>
                </div>
            </div>
        </section>
        <!--Section: Content-->

        <hr class="my-5" />

        <!--Section: Content-->
        <section class="text-center">
            <h4 class="mb-5"><strong>GolHol - tự do lựa chọn</strong></h4>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="http://drive.google.com/uc?export=view&id=12ErGeQbcynlEMSYmZLsuD2larYZb7-_X" class="img-fluid" />
                            <a href="#">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Vũng Tàu</h5>
                            <p class="card-text">
                                Lung linh trên từng cơn sóng
                            </p>
                            <a href="#" class="btn btn-primary">Đặt ngay</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="http://drive.google.com/uc?export=view&id=173okLB1DJHIDra_DisuaB-7fpBrDoqyT" class="img-fluid" />
                            <a href="#">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Đà Lạt</h5>
                            <p class="card-text">
                                Đà Lạt thơ mộng, hữu tình
                            </p>
                            <a href="#" class="btn btn-primary">Đặt ngay</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="http://drive.google.com/uc?export=view&id=12ErGeQbcynlEMSYmZLsuD2larYZb7-_X" width="500" height="300" class="img-fluid" />
                            <a href="#">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Nha Trang</h5>
                            <p class="card-text">
                                Biển xanh cát trắng bạt ngàn
                            </p>
                            <a href="#" class="btn btn-primary">Đặt ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Section: Content-->

    </div>
</main>
<!--Main layout-->
